<!DOCTYPE html>
<html>
<head>
    <title>Sushi Delivery</title>
</head>
<body>
    <h1>Заказы доставки ресторана суши</h1>
    <table>
        <tr>
            <th>Заказ</th>
            <th>Дата и время</th>
            <th>Клиент</th>
            <th>Состав заказа</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order }}</td>
            <td>{{ order.date_time }}</td>
            <td>{{ order.client }}</td>
            <td>
                <ul>
                    {% for item in order.orderitem_set.all %}
                    <li>{{ item.dish }} - {{ item.dish.price }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>